body {
  margin: 0;
  padding: 0;
  background: #000;
  color: #fff;
  font-family: sans-serif;
  overflow: hidden;
}

/* СТРЕЛКА */
#arrow {
  position: absolute;
  top: 50%;
  left: calc(50% - 220px); /* 50% от ширины + смещение влево */
  transform: translateY(-50%);
  width: 60px;
  height: 60px;
  z-index: 10; /* всегда сверху */
}

/* КОНТЕЙНЕР РУЛЕТКИ */
#roulette-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 300px;
  height: 500px;
  border: 1px solid #333;
  overflow: hidden;
}

/* ОКНО ДЛЯ СПИСКА */
#list-window {
  width: 100%;
  height: 100%;
  background: #111;
  overflow: hidden;
  position: relative;
}

/* САМ СПИСОК */
#nickname-list {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
}

/* ОДИН НИК */
.nickname {
  width: 100%;
  padding: 14px 0;
  text-align: center;
  font-size: 20px;
  color: #ccc;
  border-bottom: 1px solid #222;
}
