body {
  margin: 0;
  padding: 0;
  background: #111;
  color: #fff;
  font-family: sans-serif;
}

.center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 24px;
}
